/*
.my-header {
  background-image: url("/img/Portland_Night_panorama.jpg");
  background-color: #17234E;
  margin-bottom: 0;`enter code here`
  min-height: 50%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
*/

body {
  background: linear-gradient(rgba(06, 43, 75, 0.23), rgba(169, 209, 243, 0.23));
}

.jumbotron {
  background-image: url("/C:/programming/epicodus/media-queries-and-responsive-design/week-in-review/img/Portland_Night_panorama.jpg");
  background-size: cover;/*
  background-repeat: no-repeat;*/
  /*background-image: linear-gradient(rgba(10, 10, 255, 0.3), rgba(255, 255, 0, 0.3));*/
  color: #ffffff;
  /*margin: 0;*/
  border: 2px solid gray;
}

.backdrop {
  /*margin: 0;*/
  /*padding: 20px;*/
  background-color: rgba(0, 0, 255, 0.5);
  color: #ffffff;
}

.background-gradient {
  background: linear-gradient(rgba(06, 43, 75, 0.5), rgba(169, 209, 243, 0.5));
}

.panel-text{
  color: #0f0f0f;
}

.panel-box {
  margin: 0px;
  margin-bottom: 13px;
  border: 2px solid gray;
  padding: 24px;
  /*background-color: rgba(133, 166, 243, 0.5);*/
  background-color: rgba(55, 88, 117, 0.5);
  /* #375875 */
}

/*h1, h2, h3, p {
  background-color: rgba(0, 0, 255, 0.5);
  color: #ffffff;
}*/

/*body {
  background-image: url("/C:/programming/epicodus/media-queries-and-responsive-design/week-in-review/img/Made_in_Oregon_sign_in_2011_-_Portland_Oregon.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(255,255,0,0.275);
}
/*
@media screen and (min-width: 768px) {
  .column {
    width: 300px;
    float: left;
    padding: 20px;
  }
}
@media screen and (max-width: 768px) and (min-width: 600px) {
  body {
    background-color: black;
    color: white;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: teal;
  }
}

*/
